@tailwind base;
@tailwind components;
@tailwind utilities;

.branchLogo :hover{
  width: 150px;
  height:150px;
  cursor: pointer;
}

@media only screen and (max-width: 650px) {
    .branchLogo{
    width:90px;
    height:90px;
    }
  .branchImg{
    width:70px;
    height:70px;
  }
  .branchName{
    font-size: medium;
  }
  .branchLogo :hover{
  width: 90px;
  height:90px;
  cursor: pointer;
}
}

@media only screen and (max-width: 850px) {
  .descBox{  
    padding: 0px;
    margin-top: 20%;
    margin-bottom: 10%;
    width: 70%;

  }
  .title{
      font-size: x-large;
  }
  .para{
    font-size: medium;

  }
}
